@font-face{
    font-family: LibreFranklin;
    src: url(LibreFranklin[wght].ttf);
}
body {
    background-color: #B4F8C8;
    font-family: LibreFranklin;
}
header {
    padding: 1rem;
    text-align: center;
}
#searchContainer{
    padding: 1rem;
    text-align: center;
    margin-bottom: 30px;
}
#currentWeatherContainer{
    padding: 1rem;
    border: medium;
    border-color: #FBC858;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    border-radius: 10px;
    display: none;
}

#searchedWeatherContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#searchedWeatherContainer div {
    /*margin-right: 10px;*/
    flex: 1;
    flex-basis: 12%;
    /*border-right: 3px solid #FBC858;*/
}

.weatherContainer {
    text-align: center;
    font-size: x-large;
    margin: auto;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid#FBC858;
    background-color: #B4F8C8;
    padding-bottom: 5px;
    font-size: x-large;
}

input[type=text]:focus{
    border: none;
    border-bottom: 2px solid black;
    outline:none;
}
input[type=submit]{
    background-color: #FBC858;
    font-size: medium;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    /*text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);*/
    font-weight: bold;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    transition: all 0.2s;
    padding:0.3em 1.2em;
}

input[type=submit]:hover {
    border-color: rgb(0, 0, 0);
}